:root{
    --main-color: #726EFF;
}

.todo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.todo__title {
    font-size: 1rem;
}

.todo__head {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-task {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.add-task__input {
    border: 1px solid var(--main-color);
    width: 80%;
    padding: 10px;
}

.add-task__btn {
    background-color: var(--main-color);
    border: 0;
    width: 30%;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.task input[type=checkbox] 
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

input[type=checkbox]:checked + label
{
    text-decoration: line-through;
}

.todo__list
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.task 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.task__checkbox{
    
}

.task__delete_btn
{
    background-color: red;
    width: auto;
    height: 30px;
    border: 0px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px;
    margin-left: 15px;
}